@import url(./imports.css);
@import url(./header.css);
@import url(./main_screen.css);
@import url(./about.css);
@import url(./team.css);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  max-width: 117rem;
  padding: 0 1.5rem;
}

.title {
  font-size: 2.8rem;
  font-weight: 600;
  text-transform: uppercase;
  /* text-align: center; */
}

.about .section_clients {
  padding: 1.8rem 0;
}

.about_wrap-description p,
.client_card-description {
  font-size: 1.6rem;
  line-height: 1.5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-title {
  padding-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300rem;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
